<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="aarddict.android"
      android:versionCode="13"
      android:versionName="1.4.1"
      android:installLocation="auto">
    <uses-sdk android:minSdkVersion="3"/>
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />
    <application android:icon="@drawable/aarddict" 
    			 android:label="@string/appName">    			 
    	<activity android:name=".DictionariesActivity" 
    			  android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />                
                <data android:scheme="file" android:pathPattern=".*\\.aar"/>
            </intent-filter>            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />                
                <data android:scheme="file" android:mimeType="application/aar"/>
            </intent-filter>                			  	
    	</activity>
    			 
        <activity android:name=".LookupActivity" 
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".ArticleViewActivity" 
            android:configChanges="orientation">
        </activity>


        <activity android:name=".Lookup" 
            android:configChanges="orientation" 
            android:excludeFromRecents="true"
            android:taskAffinity="aarddict.external">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>                                                                        
        </activity>
        
        <activity android:name=".Article" 
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:taskAffinity="aarddict.external">            
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>                                                            
        </activity>
                         
        <activity android:name=".DictionaryInfoActivity"/>                      
        <service android:name=".DictionaryService">        
        </service>
    </application>
</manifest> 